<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='content' description='This is the email verification app in Django'> 
	<title>Email Verification</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	{% load staticfiles %}
	<link rel='stylesheet' type='text/css' href='{% static "email_app/styles/style.css" %}'>
</head>
<body>
	<div class='container'>
		<div class='text-center messages'>
		{% if messages %}
			{% for message in messages %}
				<p{% if message.tags %} class='{{message.tags}}'{% endif %}>{{message}}</p>
			{% endfor %}
		{% endif %}
		</div>
		<form class='text-center' action='{% url "validate" %}' method='POST'>
			{% csrf_token %}
			<label>
				Email Address: <input type='text' name='email' placeholder='e.g. john@john.com'>
			</label>
			<input class='btn btn-default' type='submit' value='Submit'>
		</form>
	</div>
</body>
</html>